definitions:
  echo.HTTPError:
    properties:
      message: {}
    type: object
  structs.JobChildrenSummary:
    properties:
      dead:
        type: integer
      pending:
        type: integer
      running:
        type: integer
    type: object
  structs.JobListStub:
    properties:
      createIndex:
        type: integer
      datacenters:
        items:
          type: string
        type: array
      id:
        type: string
      jobModifyIndex:
        type: integer
      jobSummary:
        $ref: '#/definitions/structs.JobSummary'
      meta:
        additionalProperties:
          type: string
        type: object
      modifyIndex:
        type: integer
      multiregion:
        $ref: '#/definitions/structs.Multiregion'
      name:
        type: string
      namespace:
        type: string
      parameterizedJob:
        type: boolean
      parentID:
        type: string
      periodic:
        type: boolean
      priority:
        type: integer
      status:
        type: string
      statusDescription:
        type: string
      stop:
        type: boolean
      submitTime:
        type: integer
      type:
        type: string
    type: object
  structs.JobSummary:
    properties:
      children:
        allOf:
        - $ref: '#/definitions/structs.JobChildrenSummary'
        description: Children contains a summary for the children of this job.
      createIndex:
        description: Raft Indexes
        type: integer
      jobID:
        description: JobID is the ID of the job the summary is for
        type: string
      modifyIndex:
        type: integer
      namespace:
        description: Namespace is the namespace of the job and its summary
        type: string
      summary:
        additionalProperties:
          $ref: '#/definitions/structs.TaskGroupSummary'
        description: Summary contains the summary per task group for the Job
        type: object
    type: object
  structs.Multiregion:
    properties:
      regions:
        items:
          $ref: '#/definitions/structs.MultiregionRegion'
        type: array
      strategy:
        $ref: '#/definitions/structs.MultiregionStrategy'
    type: object
  structs.MultiregionRegion:
    properties:
      count:
        type: integer
      datacenters:
        items:
          type: string
        type: array
      meta:
        additionalProperties:
          type: string
        type: object
      name:
        type: string
    type: object
  structs.MultiregionStrategy:
    properties:
      maxParallel:
        type: integer
      onFailure:
        type: string
    type: object
  structs.TaskGroupSummary:
    properties:
      complete:
        type: integer
      failed:
        type: integer
      lost:
        type: integer
      queued:
        type: integer
      running:
        type: integer
      starting:
        type: integer
      unknown:
        type: integer
    type: object
host: api.plusvasis.xyz
info:
  contact: {}
  description: API backend for PlusVasis service
  title: PlusVasis API
  version: "1.0"
paths:
  /jobs:
    get:
      description: Get all Nomad jobs
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/structs.JobListStub'
            type: array
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "500":
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: GetJobs
      tags:
      - nomad
schemes:
- https
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
